<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd"> 

<configuration>
    <typeAliases>
        <typeAlias type="com.project.four.model.dto.UserDto" alias="UserDTO" />
        <typeAlias type="com.project.four.model.dto.BoardDto" alias="BoardDTO" />
        <typeAlias type="com.project.four.model.dto.GoneDto" alias="GoneDTO" />
        <typeAlias type="com.project.four.util.Pagination" alias="Pagination" />
    </typeAliases>
    
	<!-- 이곳에 주거나 application.xml에 둘중 하나만 주면 된다. -->
  <mappers>
    <mapper resource="mapper/userSQLMapper.xml" />
    <mapper resource="mapper/boardSQLMapper.xml" />
  </mappers>

</configuration>